# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/NotError/FileContentIndex/9d65e706-ab5d-4154-897b-9d3fa12d4d73.vsidx
/.vs/NotError/FileContentIndex/41ba6a0b-5d6a-4cb1-8284-d98c185a9c45.vsidx
/.vs/NotError/FileContentIndex/0d405281-9468-4678-ac46-ab0d6ac2ea04.vsidx
/.vs/NotError/FileContentIndex/24cd3ae3-ab87-4de8-8330-f0286760f3b6.vsidx
/.vs/NotError/FileContentIndex/6b857b09-a75f-4fbe-80f4-f153e8aa7a22.vsidx
/.vs/NotError/FileContentIndex/88128c01-a68d-45b6-bb8e-ee086b2dd3de.vsidx
/.vs/NotError/FileContentIndex/12c15b56-461e-45f4-a526-6c2a884d61de.vsidx
/.vs/NotError/FileContentIndex/095a5c7f-144c-4bc3-89ee-4145f35dfb43.vsidx
/.vs/NotError/FileContentIndex/08207234-97a3-4172-b4a9-09fbac8fbe6b.vsidx
